#container{
    display: flex;
}

#table-container{
    max-height: 350px;
    overflow-y: scroll;
    margin-left: 16px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#mapid { 
    height: 100vh;
    width: 50%;
    background-color: #fff;
    border: 1px solid #eee;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(0,0,0,0.7);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color: #eee
}

.info h4 {
    margin: 0 0 5px;
    color: #fff;
}