#mapid { 
    height: 100vh;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(0,0,0,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color: #eee
}

.info h4 {
    margin: 0 0 5px;
    color: #fff;
}